@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
  background-color: #e4e3d3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 2rem auto;
  width: 90%;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #2e2d4d;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
}

#left-nav-bar,
 #right-nav-bar {
  margin: 0;
  display: flex;
}

#left-nav-bar>a, 
#right-nav-bar>p {
  margin: 0;
  padding: 0 0.5rem;
  color: #2e2d4d;
  text-decoration: none;
  cursor: pointer;
}

#left-nav-bar>a:hover, 
#right-nav-bar>p:hover, 
#right-nav-bar>p>a:hover,
#search-bar-div>p>a:hover
 {
  color: #fc4404;
}

#left-nav-bar>a+a, 
#right-nav-bar>p+p {
  border-left: 2px solid #337357;
}

#right-nav-bar>p>a, 
#search-bar-div>p>a {
  margin: 0;
  color: #2e2d4d;
  text-decoration: none;
  cursor: pointer;
}

#search-results-for {
  width: 100%;
  max-width: 960px;
}

.line {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #337357;
  margin: 0.5rem 0;
}

#search-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.83rem 0;
}

#search-title>h2 {
  margin: 0;
}

#search-bar-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}

#search-bar-div>p {
  margin: 0;
  font-size: 12px;
}

#search-bar {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#search-input {
  width: 100%;
  height: 1.325rem;
}

.bird-result-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  position: relative;
}

.bird-result-name>p {
  margin: 0;
}

.more-info-button {
  margin: 1rem auto 0 auto;
}

.bird-result-image {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: inline-block;
  max-height: 10rem;
  max-width: 15rem;
  border: 2px solid #6d9f71;
  /* margin-bottom: 1rem; */
}

#add-bird-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bird-form,
#bird-detail-data {
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 0.75rem;
}

input {
  background-color: #e4e3d3;
  border: 2px solid transparent;
  border-bottom: 2px solid #337357;
}

#image-preview-div>p {
  margin: 0;
}

#image-preview-div>div {
  width: 15rem;
  height: 10rem;
  border: 2px solid #6d9f71;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

#image-preview, 
.image-div>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

button {
  margin: 1.5rem auto;
  padding: 0.25rem 0.5rem;
  font-size: 16px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6d9f71;
  background-color: #6d9f71;
  color: #fff;
  border-radius: 1rem;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
}

button:hover {
  border: 2px solid #337357;
}

#add-bird-button {
  width: 6rem;
}

#submission-message {
  text-align: center;
}

#birds-found-component, 
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72.5vh;
}

#birds-found-div,
#bird-results-div,
#bird-detail-images {
  display: grid;
  grid-template-columns: repeat(1, 20rem);
}

.bird-found, 
.bird-result {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  border: 5px solid #337357;
  border-radius: 1rem;
  margin: 1rem;
}

.bird-found {
  height: 18rem;
}

.bird-result {
  height: 20rem;
}

.bird-result>a {
  text-decoration: none;
}

.no-image-div,
.image-div,
.bird-result-no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6d9f71;
}

.no-image-div,
.bird-result-no-image {
  width: 15rem;
  height: 10rem;
  font-size: 12px;
}

.image-div {
  max-height: 10rem;
  max-width: 15rem;
}

.species-div, 
.location-div, 
.date-div {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.species-div>p,
.location-div>p,
.date-div>p {
  margin: 0;
}

.species-name {
  font-style: italic;
}

#login-register-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72.5vh;
}

#app-title {
  display: flex;
  flex-direction: column;
  height: 4.8rem;
}

#app-title>h1 {
  margin: 0;
}

#login-register-buttons {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
}

#login-register-buttons>button {
  margin: 0.5rem auto;
  padding: 1rem 1.25rem;
}

#profile-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72.5vh;
}

#user-email {
  width: 15rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  height: 3.1rem;
}

#user-email>p {
  margin: 0;
}

#logout-button {
  width: 5.5rem;
}


#bird-detail-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72.5vh;
}

#bird-detail-name,
#bird-detail-order,
#bird-detail-family,
#bird-detail-wingspan,
#bird-detail-status {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

#bird-detail-name>p,
#bird-detail-order>p,
#bird-detail-family>p,
#bird-detail-wingspan>p,
#bird-detail-status>p {
  margin: 0;
}

#bird-detail-image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  border: 5px solid #337357;
  border-radius: 1rem;
  width: 20rem;
  margin: 1rem auto;
}

.bird-detail-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.bird-detail-image>img {
  max-width: 15rem;
  max-height: 10rem;
  border: 2px solid #6d9f71;
}

footer {
  position: relative;
  bottom: 0;
  text-align: right;
}

@media (min-width: 540px) {
  #nav-bar {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4.75rem;
  }

  #add-bird-component {
    height: 72.5vh;
  }

  #bird-form, 
  #user-email,
  #search-bar-div {
    width: 50%;
    max-width: 40rem;
  }

  #search-bar {
    flex-direction: row;
    column-gap: 1rem;
  }

  #search-bar>button {
    margin: 0;
  }

  #user-email,
  .input-div {
    flex-direction: row;
    justify-content: space-between;
  }

  .input-div {
    flex-direction: row;
    justify-content: space-between;
  }

  input {
    width: 12rem;
  }

  #image-preview-div {
    flex-direction: column;
  }

  #image-preview-div>div {
    margin: 0 auto;
  }

  #app-title {
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: flex-end;
  }

  #login-register-buttons {
    flex-direction: row;
    column-gap: 3rem;
  }
}

@media (min-width: 640px) {
  #bird-detail-data {
    width: 60%;
    max-width: 40rem;
  }

  #bird-detail-name,
  #bird-detail-order,
  #bird-detail-family,
  #bird-detail-wingspan,
  #bird-detail-status
   {
    flex-direction: row;
    justify-content: space-between;
  }

  #bird-detail-image-div {
    width: 40rem;
  }

  #birds-found-div,
  #bird-results-div,
  #bird-detail-images {
    grid-template-columns: repeat(2, 20rem);
  }
}

@media (min-width: 960px) {
  #bird-detail-image-div {
    width: 60rem;
  }

  #birds-found-div,
  #bird-results-div,
  #bird-detail-images {
    grid-template-columns: repeat(3, 20rem);
  }
}

.temporary {
  text-align: center;
}