#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



#root {
  width: 50%;
}

#nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
}

a {
  color: slateblue;
}

#bird-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15rem;
}

input {
  margin-left: 1rem;
}

#add-bird-button {
  width: 8rem;
  margin: 0 auto;
  background-color: slateblue;
  color: white;
  border: 2px solid slateblue;
}

#add-bird-button:hover {
  border: 2px solid black;
}